---
import "@assets/styles/global.css";
import SkipLinks from "@components/SkipLinks.astro";
import { ViewTransitions } from "astro:transitions";
import Meta from "@components/Meta.astro";
import type { CollectionEntry } from "astro:content";
import type { ImageMetadata } from "astro";
import ThemeManager from "@components/ThemeManager.astro";
import ThemeToggleButton from "@components/ThemeToggleButton.astro";

type Props = {
	title: string;
	description: string;
	post?: CollectionEntry<"blog"> | undefined;
	ogImage?: ImageMetadata;
};

const { title, description, post, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<Meta {title} {description} {post} {ogImage} />
		<ViewTransitions />
		<ThemeManager />
	</head>
	<SkipLinks />
	<body>
		<ThemeToggleButton />
		<main id="main-content">
			<slot />
		</main>
	</body>
</html>
